
<form action="/posted" method="post">
  <input type="text" name="post_peep" placeholder="What's on your mind?" id="peep-field" />
  <input type="submit" value="Post" />
</form>
<% if @peeps %>
  <div id='peeps_container'>
    <% @peeps.each do |peep| %>
      <section>
        <div class="post">
          <%= peep.message %>
          <div class="peep-footer">
            <div class="peep-info">posted at <%= peep.time_posted.strftime("%H:%M on %a, %m %b") %> by <%= peep.user_email %></div>
          </div>
        </div>
      </section>
    <% end %>
  </div>
<% end %>