<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <title>Chitter<% if @append_title %><%= @append_title %><% end %></title>
  </head>
  <body>
    <div class="wrapper">
      <% if flash[:alert] %>
        <div class="flash-alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if @user %>
      <nav class="nav-menu logged-in">
        <div>Welcome, <%= @user.email %></div>
        <form action="/sessions/destroy" method="post">
          <button type="submit">Log out</button>
        </form>
      </nav>
      <% else %>
        <nav class="nav-menu logged-out">
          <a class="nav-items" href="/users/new">Regiser</a> | <a class="nav-items" href="/sessions/new">Log in</a>
        </nav>
      <% end %>
      <div class="container">
        <a href="/" class="page-heading"><h1>chitter</h1></a>
        <%= yield %>
      </div>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </body>
</html>
