<% @append_title=" | Log in" %>

<form action="/sessions" method="post" class="form">
  <input class="form-input" type="email" name="email" placeholder="Email" />
  <input class="form-input" type="password" name="password" placeholder="Password" />
  <button type="submit" id="submit-button">Sign in</button>
</form>