<% @append_title=" | Sign up" %>
<form action="/users" method="post">
  <input class="form-input" type="email" name="email" placeholder='Email' />
  <input class="form-input" type="password" name="password" placeholder='Password' />
  <button type="submit" id="submit-button">Sign up</button>
</form>